/* Common Styles */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish', sans-serif;
}
header, main{
    max-width: 1440px;
    margin: 100px auto;
}
:root{
    --white-color: #FFF;
}
.section-gap{
    margin-top: 100px;
}
.section-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}
.section-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

/* Navbar Styles */
.navigation-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.website-name{
    display: flex;
    align-items: center;
    gap: 16px;
}
.website-title{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}
.orange-color{
    color: #FF5400;
}

/* Nav Items */
.nav-items ul{
    display: flex;
    gap: 44px;
}
.nav-items li{
    list-style: none;
}
.nav-items a{
    color: #424247;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    text-decoration: none;
}
.nav-items li:first-child a{
    color: #FF5400;
    font-weight: 700;
}
.menu-icon{
    display: none;
}


/* Header Explore Section */
.explore-container{
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) , url('./Images/Group\ 13\ \(1\)\ \(1\).png');
        background-repeat: no-repeat;
        margin-top: 50px;
        border-radius: 16px;
        width: 100%;
        height: 500px;
        background-size: 100% 100%, cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.explore-title{
    color: var(--white-color);
    font-size: 4rem;
    font-weight: 800;
    padding-bottom: 24px ;
    text-align: center;
}
.explore-description{
    width: 676px;
    text-align: center;
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 400;
}

/* Place Selection */
.place-select{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 50px;
    padding: 16px;
    display: flex;
    gap: 24px;
}

.place-input{
    border: 0;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    padding: 16px;
    border-radius: 8px;
    background: #FFF;
}
#when{
    padding-right: 140px;
}
#type{
    padding-right: 106px;
}

.btn{
    width: 213px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* Popular Tours */

.popular-tours{
    display: flex;
    justify-content: space-between;
}

.box img{
    width: 100%;
}
.text-container{
    width: 50%;
}

.list{
    padding-left: 30px ;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.list li{
    margin-bottom: 16px;
}
.btn-primary{
    padding: 14px 34px;
    border-radius: 8px;
    background: #FF5400;
    color: var(--white-color);
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 8px;
    border: 0;
    cursor: pointer;
}

/* Choose Your Destination */

.dest-title, .dest-para{
    text-align: center;
    padding: 0px 200px;
}
.destination-img-container{
    margin-top: 50px;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 24px;
    justify-content: center;
}
.row1{
    display: grid;
    grid-template-columns: 573px 573px;
    gap: 24px;
}
.row2{
    display: grid;
    grid-template-columns: 374px 474px 274px;
    gap: 24px;
}
.row3{
    display: grid;
    grid-template-columns: 473px 673px;
    gap: 24px;
}
.destination-img-container img{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.country-name{
    position: absolute;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.maldives, .Indonesia, .srilanka, .northamerica, .kashmir, .Bangladesh, .bandarban{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Why Choose Us */
.reasons-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 48px;
}
.reason1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.reason2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.reason3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    grid-column: span 2;
    margin-top: 48px;
}
.reason1, .reason2, .reason3{
    width: 573px;
    padding: 32px 55px 32px 32px;
}
.reason-title{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 32px;
    margin-bottom: 16px;
}
.reason-para{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

/* Customer Review */
.review-container {
    text-align: center;
    margin: 20px;
    margin-top: 40px;
    display: flex;
    gap: 24px;
}
.review-text{
    text-align: center;
}
.reviews {
    border: 1px solid #FF5400;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 15px;
}
.user-photo {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
.stars {
    color: #FF5400;
}

/* Deals and Discounts */
.deals-content{
    position: relative;
}
.deals-img-container{
    margin-top: 48px;
}
.deals-img{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 97%;
}
.all-deals{
    position: absolute;
    width: 579px;
    height: 349px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    top: 56px;
    right: 100px;
    padding-top: 52px;
    padding-left: 50px;
}
.deals-details{
    display: flex;
    gap: 24px;
}
.deals-heading{
    margin-top: 26px;
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 16px;
}
.deals-desc{
    width: 85%;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}
.deals-price{
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 24px;
}
.all-deals1{
    position: absolute;
    width: 579px;
    height: 349px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    top: 56px;
    left: 56px;
    padding-top: 52px;
    padding-left: 50px;
}
.icon-color{
    color: #FF5400;
}
.day{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}
.btn-packages{
    margin-top: 48px;
    text-align: center;
}


/* Get Lost Section */
.getlost{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}
.getlost-video video{
    width: 610px;
    height: 424px;
}
.lost-title{
    line-height: 60px;
}
.lost-list{
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    line-height: 26px;
}
.btn-lost{
    margin-top: 32px;
}
/* Newsletter Section */
.newsletter{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.newsletter-form{
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 474px;
    height: auto;
    padding: 40px;
}
.newsletter-img img{
    width: 672px;
    height: 422px;
}
.newsletter-title{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.newsletter-para{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 350px;
    margin-top: 16px;
    margin-bottom: 24px;
}
.news-inp{
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 1rem;
    font-weight: 400;
    padding: 16px 20px;
    width: 90%;
    margin-bottom: 16px;
    border: 0;
}
.subscribe{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 14px 20px;
    width: 98%;
    border: 0;
    margin-top: 8px ;
    cursor: pointer;
}
.newsletter-img{
    position: relative;
}
.savings{
    border-radius: 8px;
    background: #FF5400;
    padding: 35px;
    width: 324px;
    transform: rotate(-19.628deg);
    text-align: center;
    position: absolute;
    left: 267px;
    top: 220px;
}
.save-para{
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}
.save-title{
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}

/* Footer Section */
.footer{
    text-align: center;
    margin: 0px 0px;
    padding-top: 100px;
    background: rgba(19, 19, 24, 0.05);
}
.footer-website{
    justify-content: center;
    margin-bottom: 15px;
}
.footer-para{
    display: flex;
    justify-content: center;
}
.footer-para p{
    width: 769px;
    line-height: 26px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px;
}
.social-media{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}
.hrule{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.hrule hr{
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}
.reserved{
    color: #131318;
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 100px;
}




/* Mobile View */
@media screen and (max-width: 600px) {
    header, main{
        margin: 20px 40px;
    }

    /* Common */
    .section-title{
        font-size: 1.25rem;
    }
    .section-description{
        font-size: 0.875rem;
    }

    /* Nav and Title */
    .website-title{
        font-size: 1.346rem;
    }
    .nav-items > ul{
        display: none;
    }
    .menu-icon{
        display: block;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    /* Explore Section */
    .explore-container{
        padding: 32px 0;
    }
    .explore-title{
        font-size: 1.375rem;
    }
    .explore-description{
        font-size: 0.875rem;
        font-weight: 400;
        width: 304px;
    }
    .place-select{
        width: 80%;
        flex-direction: column;
        gap: 16px;
        margin-top: 32px;
    }
    .place-select input{
        width: 91%;
    }
    .place-select select, .btn{
        width: 100%;
    }

    /* Popular Tours Section */
    .section-gap{
        margin-top: 24px;
    }
    .popular-tours{
        flex-direction: column;
        gap: 24px;
    }
    .text-container{
        width: 100%;
    }

    /* Choose Your Destination */
    .dest-title, .dest-para{
        text-align: center;
        padding: 0px;
    }
    .row1, .row2, .row3{
        grid-template-columns: repeat(1, 100%);
    }
    .width{
        width: 435px;
        height: 176px;
    }

    /* Why Choose Us */
    .reasons-container{
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 16px;
    }
    .reason1, .reason2, .reason3{
        width: 85%;
        padding: 32px 55px 32px 32px;
    }
    .reason3{
        margin: 0;
    }
    .reason-title{
        font-size: 1.25rem;
        margin-top: 16px;
    }
    .reason-para{
        color: #5A5A5D;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 24px;
    }
    .reason1 img, .reason2 img, .reason3 img{
        width: 48px;
        height: 48px;
    }

    /* Customer Review */
    .review-container {
        flex-direction: column;
    }

    /* Deals Section */

    .deals-img img{
        width: 100%;
        height: 750px;
    }
    .all-deals1{
        left: 60px;
    }
    .all-deals, .all-deals1 {
        width: 70%;
        height: 449px;
        top: 250px;
        right: 60px;
        padding-top: 26px;
        padding-left: 26px;
    }
    .deals-details{
        flex-wrap: wrap;
    }
    .btn-packages{
        margin-bottom: 40px;
    }    
    

    /* Get Lost Section */
    .getlost{
        flex-direction: column;
    }
    .getlost-video video{
        width: 100%;
        height: 100%;
    }
    .lost-title{
        line-height: 32px;
    }

    /* Newsletter Responsive */
    .newsletter{
        flex-direction: column;
    }
    .newsletter-form{
        border-radius: 16px;
        border: 1px solid #FF5400;
        width: 85%;
        height: auto;
        padding: 40px;
    }
    .newsletter-img img{
        max-width: 105%;
    }
    .savings {
        padding: 35px;
        width: 254px;
        left: 25%;
        top: 232px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    header, main{
        margin: 100px 100px;
    }
    .place-select{
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }
    .popular-tours{
        gap: 50px;
    }
    .box img {
        width: 100%;
        height: 100%;
    }
    .maldives, .Indonesia, .srilanka, .northamerica, .kashmir, .Bangladesh, .bandarban {
        position: relative;
    }
    .maldives{
        left: 100px;
    }
    .Indonesia{
        right: 100px;
    }
    .srilanka{
        left: 135px;
    }
    .northamerica{
        left: 0px;
    }
    .northamerica{
        left: -10px;
    }
    .kashmir{
        right: 150px;
    }
    .Bangladesh{
        left: 115px;
    }
    .bandarban{
        right: 80px;
    }
    .maldives img, .Indonesia img, .srilanka img, .northamerica img, .kashmir img, .Bangladesh img, .bandarban img {
        width: 65%;
        gap: 0px;
        padding: 0px;
    }
    .reason1, .reason2, .reason3 {
        width: 100%;
        padding: 32px 55px 32px 32px;
    }
    .reason3{
        margin-top: 32px;
        width: 50%;
    }
    .deals-img{
        width: 97%;
    }
    .deals-img img{
        height: 500px;
    }
    .getlost-video video{
        width: 100%;
    }
    .newsletter-img img {
        width: 100%;
        height: 422px;
    }
    .newsletter-form{
        width: 40%;
    }
    .savings{
        top: 50%;
        left: 15%;
        width: 60%;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
    header, main{
        margin: 100px 100px;
    }
    .reason1, .reason2, .reason3 {
        width: 474px;
        padding: 32px 55px 32px 32px;
    }
    .reason3{
        margin-top: 32px;
    }
}